---
layout: "default"
handlebars: "true"
vim:      ts=3
---

{% include_relative listeners.html %}
{% include_relative templates.html %}
{% include_relative scripts-local.html %}

<style>
.btn.entry:focus {
	outline: none;
	box-shadow: none;
}

.btn.entry {
	border-width: 0px;
	padding: 0px;
}

.composer {
	color: #aa3333;
}
.title {
	color: #3333aa;
}
</style>


<section class="portfolio" id="portfolio">
	<div class="container">
		<h2 class="text-center text-uppercase text-secondary mb-0">Search</h2>
		<hr class="star-dark mb-5">
		<div class="row">
			<div id="browse-list"></div>
		</div>
	</div>
</section>


