<!DOCTYPE html>
<head lang="en">
<!--
	vim: ts=3
-->

{% include head.html %}

{% if page.handlebars == "true" %}
	{% if site.local == "true" %}
		<script src="{{site.baseurl}}/js/local/handlebars.js"></script>
	{% else %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.js"></script>
	{% endif %}
{% endif %}

{% include navigation.html %}

{% include header.html %}

{% if page.verovio == "true" %}
	{% include verovio_support_functions.html %}
{% endif %}

</head>
<body id="page-top">

{{ content }}

{% include about.html %}

{% include contact.html %}

{% include footer.html %}

{% include other.html %}

</body>
</html>
